@import '../../../styles.scss';
.gp_modal .tab-content .results-table {
    background-color: #4A555F;
}

.results-table .positive-result {
    background-color: $geo-teal;
}

.scenario-base {
    color: $geo-orange;
}

.scenario-active {
    color: $geo-teal;
}

.scenario-inactive {
    color: #63737E;
}

.gp_modal .close {
    color: #667989;
    opacity: 1;
    text-shadow: 0;
}

.modal-backdrop {
    opacity: 0 !important;
}

.gp_modal {
    background: #343E46;
    color: #FEFEFE;
    height: 100%;
}

#up_settings .gp_modal {
    background: #273038;
}

.gp_modal .badge-dark {
    background: #273038;
}

#up_settings .gp_modal .badge-dark {
    background: #343E46;
    color: #5A6C79;
}

.gp_modal hr.gp_orange {
    border-color: $geo-orange;
    width: 8%;
    margin-left: 1%;
}

.gp_modal hr.gp_orange_large {
    border-color: $geo-orange;
    margin-left: 1%;
    margin-right: 1%;
}

.gp_modal .form-control-sm,
.gp_modal .form-control,
.gp_modal ::placeholder,
#up-search,
.input-group-text {
    background: $geo-modal-input;
    color: $geo-modal-input-txt;
}

.gp_modal .modal-header,
.gp_modal .modal-footer {
    border-color: #313C45;
}


/*.gp_modal .nav-tabs .nav-item .active {
    color: #BF6C6B;
}*/

::ng-deep .gp_modal .nav-item .nav-link {
    background: #343E46 !important;
    color: #4B565F !important;
}

::ng-deep .gp_modal .nav-item .active,
::ng-deep .tab-content .active {
    background: #4B565F !important;
    color: $geo-orange !important;
}

.table-title {
    color: #F5F5F6 !important;
}

.results-text {
    color: #8E979F !important;
}

.highlight-results,
::ng-deep .tab-content a {
    color: $geo-orange !important;
}

::ng-deep .tab-content .results-title {
    color: #C0C4C6 !important;
}

small.measure {
    color: #6D7984;
}

@import '../../../styles.scss';
.gp_modal .tab-content .results-table {
    background-color: #4A555F;
}

.results-table .positive-result {
    background-color: $geo-teal;
}

.scenario-base {
    color: $geo-orange;
}

.scenario-active {
    color: $geo-teal;
}

.scenario-inactive {
    color: #63737E;
}

.gp_modal .close {
    color: #667989;
    opacity: 1;
    text-shadow: 0;
}

.modal-backdrop {
    opacity: 0 !important;
}

.gp_modal {
    background: #343E46;
    color: #FEFEFE;
    height: 100%;
}

#up_settings .gp_modal {
    background: #273038;
}

.gp_modal .badge-dark {
    background: #273038;
}

#up_settings .gp_modal .badge-dark {
    background: #343E46;
    color: #5A6C79;
}

.gp_modal hr.gp_orange {
    border-color: $geo-orange;
    width: 8%;
    margin-left: 1%;
}

.gp_modal hr.gp_orange_large {
    border-color: $geo-orange;
    margin-left: 1%;
    margin-right: 1%;
}

.gp_modal .form-control-sm,
.gp_modal .form-control,
.gp_modal ::placeholder,
#up-search,
.input-group-text {
    background: $geo-modal-input;
    color: $geo-modal-input-txt;
}

.gp_modal .modal-header,
.gp_modal .modal-footer {
    border-color: #313C45;
}


/*.gp_modal .nav-tabs .nav-item .active {
    color: #BF6C6B;
}*/

::ng-deep .gp_modal .nav-item .nav-link {
    background: #343E46 !important;
    color: #4B565F !important;
}

::ng-deep .gp_modal .nav-item .active,
::ng-deep .tab-content .active {
    background: #4B565F !important;
    color: $geo-orange !important;
}

.table-title {
    color: #F5F5F6 !important;
}

.results-text {
    color: #8E979F !important;
}

.highlight-results,
::ng-deep .tab-content a {
    color: $geo-orange !important;
}

::ng-deep .tab-content .results-title {
    color: #C0C4C6 !important;
}

small.measure {
    color: #6D7984;
}