<!-- Start your project here-->
<div style="height: 100vh; width: 100vw; overflow:hidden;">
    <app-navbar></app-navbar>
    <div class="container-fluid" id="div" style="width: 100vw; position: relative;">
        <div class="row">
            <app-layers-sidebar></app-layers-sidebar>
            <div class="col-md-12" id="map-container" style="z-index: -1;">
                <app-map></app-map>
            </div>
            <app-tools-sidebar></app-tools-sidebar>
        </div>
    </div>
        <!--<p-button icon="pi pi-angle-right" (onClick)="handleClick($event)" styleClass="ui-button-info" style="position:absolute;top:0px;left:0px;"></p-button>
        <p-button icon="pi pi-angle-left" (onClick)="handleClick($event)" styleClass="ui-button-info" style="position:absolute;top:0px;right:0px;"></p-button>-->
</div>
<!--Start your project here-->
<!--<app-up-settings></app-up-settings>-->