<!-- Start your project here-->
<div style="height: 100vh; width: 100vw; overflow:hidden;">
    <!--<app-navbar></app-navbar>-->
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white text-light" [containerInside]="false">

        <div class="container-fluid">
            <!-- Navbar brand -->
            <mdb-navbar-brand>
                <a class="navbar-brand" href="#">Geoportal 
                    <span class="gp_teal" *ngIf="suitabilityActive && !urbPerActive">- Suitability</span>
                    <span class="gp_orange" *ngIf="urbPerActive && !suitabilityActive">- UrbanPerformance</span>
                </a>
            </mdb-navbar-brand>

            <!-- Collapsible content -->
            <links>

                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-light text-muted" mdbWavesEffect>
                            <mdb-icon fas icon="database"></mdb-icon> My Data<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light text-muted" mdbWavesEffect>
                            <mdb-icon fas icon="university"></mdb-icon> Tutorials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light text-dark" mdbWavesEffect>
                            <mdb-icon fas icon="user-times"></mdb-icon> Logout</a>
                    </li>
                    <!-- Dropdown -->
                    <li class="nav-item dropdown" dropdown>
                        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                            <mdb-icon fas icon="tools"></mdb-icon> Tools<span class="caret"></span></a>
                        <div class="dropdown-menu" role="menu">
                            <ul class="list-inline">
                                <li class="list-inline-item"><img src="assets/img/logo1.PNG" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="CollabMap">
                                </li>
                                <li class="list-inline-item" (click)="stStatus()"><img src="assets/img/logo2.PNG" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Suitability">
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item" (click)="upStatus()"><img src="assets/img/logo3.PNG" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="UrbanPerformance"></li>
                                <li class="list-inline-item" (click)="closePlugin()"><img src="assets/img/logo4.PNG" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Close"></li>
                            </ul>
                        </div>
                    </li>

                </ul>
                <!-- Links -->
            </links>
            <!-- Collapsible content -->

        </div>
    </mdb-navbar>
    <!--/.Navbar-->
    <div class="container-fluid" id="div" style="width: 100vw; position: relative;">
        <div class="row">
            <app-layers-sidebar [upAct]="urbPerActive" [stAct]="suitabilityActive"></app-layers-sidebar>
            <div class="col-md-12" id="map-container" style="z-index: -1;">
                <app-map></app-map>
            </div>
            <app-tools-sidebar [upAct]="urbPerActive" [stAct]="suitabilityActive"></app-tools-sidebar>
        </div>
    </div>
</div>